/* footer.css */

footer {
    width: 100%;
    height: 150px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textBox {
    padding: 10px;
}
