/* Main.css */

.main {
    width: 100%;
    height: 100vh;
    color: #fff;
}

.pSize {
    font-size: 30px;
}

.mainText {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Mobile ver */

.mobileMain {
    font-size: 50px;
} 

.mobileP {
    font-size: 20px;
    text-align: center;
    padding: 10px 30px 100px 30px;
}