/* project.css */

.project {
    width: 100%;
    height: 100%;
    color: #fff;
    padding-bottom: 100px;
    padding-top: 120px;
}

.mainText {
    display: flex;
    justify-content: center;
}

.projectList {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 100px;
}

.sww {
    text-align: center;
}

.projectList img {
    width: 250px;
    height: 400px;
}

/* 길마로이미지 배율조정 */
.projectList .gilmaroImg, .mobilegilmaroImg {
    width: 230px;
    height: 430px;
    padding-bottom: 10px;
}


/* 이미지 hover 시 문단 등장 */
.projectList .gilmaroImg:hover {
    filter: brightness(20%);
    transition: 0.4s;
}

.re {
    position: relative;
}


.nohover {
    display: none;
}

.hovertext {
    position: absolute;
    top: -180px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
    display: block;
}

.hovertext2 {
    position: absolute;
    top: -200px;
    left: 60px;
    transition: 0.4s;
    display: block;
}


/* 웹작품 문단 */
.webP {
    margin-top: 28px;
}

p {
    margin-bottom: 10px;
}


.btnbox button {
    width: 100px;
    height: 40px;
    background-color: transparent;
    border-style: none;
    outline: 1px solid #fff;
    margin-left: 10px;
    margin-right: 10px;
  }

.btnbox button a {
    font-size: 20px;
}

.btnbox button:hover {
    background-color: #ffff;
}

.btnbox button:hover a {
    color: #000;
}

.hoverbox:hover {
    filter: brightness(20%);
    transition: 0.4s;
}

.re:hover .hoverbox {
    filter: brightness(20%);
}

.re:hover .gilmaroImg {
    filter: brightness(20%);
}